

<div class="p-buttonset">    
    <p-toggleButton [(ngModel)]="moveChecked" onIcon="pi pi-arrows-alt" offIcon="pi pi-arrows-alt" (click)="movePressed()"></p-toggleButton>
    <p-toggleButton [(ngModel)]="pointerChecked" onIcon="pointer-icon-pressed" offIcon="pointer-icon" (click)="pointerPressed()"></p-toggleButton>
    <p-toggleButton [(ngModel)]="editShapeChecked" onIcon="edit-icon-pressed" offIcon="edit-icon" (click)="editShapePressed()"></p-toggleButton>
    <p-toggleButton [(ngModel)]="lineChecked" onIcon="line-icon-pressed" offIcon="line-icon" (click)="linePressed()"></p-toggleButton>
    <p-toggleButton [(ngModel)]="rectChecked" onIcon="rect-icon-pressed" offIcon="rect-icon" (click)="rectPressed()"></p-toggleButton>
    <p-toggleButton [(ngModel)]="circleChecked" onIcon="circle-icon-pressed" offIcon="circle-icon" (click)="circlePressed()"></p-toggleButton>
    <p-toggleButton [(ngModel)]="drawChecked" onIcon="draw-icon-pressed" offIcon="draw-icon" (click)="drawPressed()"></p-toggleButton>
</div>
